<!DOCTYPE html>
<html>

<head></head>

<body>
  <form name="datosBasic" action="../../index.html" method="">

    <h1><img src="../../assets/img/replit-icon-logo-A666709FE9-seeklogo.com.png" width="50"> Datos básicos</h1>

    <label for="profile">Describa su perfil</label><br>
    <textarea id="profile" rows="10" cols="50" name="profile"></textarea><br><br>

    <label for="type_id">Tipo de identificación</label>
    <select id="type_id" name="type_id">
      <option value="0" name="type_id"> </option>
      <option value="CC"> Cédula de Ciudadanía</option>
      <option value="TI"> Tarjeta de Identidad</option>
      <option value="RN"> Registro de Nacimiento</option>
    </select>
    <br><br>

    <label for="city">¿En qué ciudad vives?</label>
    <select name="city">
      <option selected value="0"> Elige una ciudad</option>
      <optgroup label="Cundinamarca">
        <option value="1">Bogotá</option>
        <option value="2">Chia</option>
      </optgroup>
      <optgroup label="Antioquia">
        <option value="4">Medellin</option>
        <option value="5">Envigado</option>
      </optgroup>
      <optgroup label="Santander">
        <option value="6">Bucaramanga</option>
        <option value="7">San Gil</option>
      </optgroup>
    </select>
    <br><br>


    <label for="num_id">Número identificación</label>
    <input id="num_id" type="" name="num_id"></input><br><br>

    <label for="last_name">Apellidos</label>
    <input id="last_name" type="text" name="last_name"></input><br><br>

    <label for="names">Nombres</label>
    <input id="names" type="text" name="names"></input><br><br>

    <label for="gender">Género</label>
    <input id="M" type="radio" name="gender"></input>Masculino
    <input id="F" type="radio" name="gender"></input>Femenino<br><br>

    <label for="estCiv">Estado civil</label>
    <input id="estCivSol" type="radio" name="estCiv" checked></input>Soltero
    <input id="estCivCas" type="radio" name="estCiv"></input>Casado
    <input id="estCivUL" type="radio" name="estCiv"></input>Unión Libre
    <input id="estCivViudo" type="radio" name="estCiv"></input>Viudo<br><br>

    <label for="tel">Número telefónico de contacto</label>
    <input id="tel" type="" name="tel"></input><br><br>

    <label for="address">Dirección de residencia</label>
    <input id="address" type="text" name="address"></input><br><br>

    <label for="mail">Correo electrónico de contacto</label>
    <input id="mail" type="" name="mail"></input><br><br>

    <label for="pwd">Contraseña</label>
    <input id="pwd" type="password" name="pwd"></input><br><br><br>


    <label>Qué hobbies tienes?</label><br><br>
    <input type="checkbox" id="series" name="series">
    <label for="series">Ver Series</label>
    <input type="checkbox" id="play" name="play">
    <label for="play">Jugar Videojuegos</label>
    <input type="checkbox" id="sports" name="sports">
    <label for="sports">Hacer Deporte</label><br><br>


    <label for="file">Sube tus archivos</label>
    <input type="file" name="file"></input>

  </form>
</body>

</html>