<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <title>Clase WEB</title>
  <link rel="icon" href="../../assets/img/favicon.png">
</head>

<body>
  <table rules="all">
    <thead border=1>
      <th></th>
      <th border=1>Lunes</th>
      <th>Martes</th>
      <th>Miercoles</th>
      <th>Jueves</th>
      <th>Viernes</th>
    </thead>
    <tbody>
      <tr>
      <td>
        6
      </td>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
        <td></td>
      </tr>
      <tr>
      <td>
        7
      </td>
        <td rowspan=2>
          Capstone
        </td>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
      </tr>
      <tr>
      <td>
        8
      </td>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
      </tr>
      <tr>
      <td>
        9
      </td>
        <td>
          Daily trabajo
        </td>
        <td>
          Revision semamal
        </td>
        <td colspan=3>
          Daily trabajo
        </td>
      </tr>
      <tr>
      <td>
        10
      </td>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
        <td></td>
      </tr>
      <tr>
      <td>
        11
      </td>
        <td>
        </td>
        <td>
        </td>
        <td rowspan=2>
          Web
        </td>
        <td>
        </td>
        <td rowspan=2>
          Web
        </td>
      </tr>
      <tr>
      <td>
        12
      </td>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
      </tr>
      <tr>
      <td>
        13
      </td>
        <td>
        </td>
        <td rowspan=2>
          Arquitectura
        </td>
        <td>
          
        </td>
        <td rowspan=2>
          Arquitectura
        </td>
      </tr>
      <tr>
      <td>
        14
      </td>
      </tr>
      <tr>
      <td>
        15
      </td>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
        <td rowspan=2>
          Merge y Despliegue QA
        </td>
      </tr>
      <tr>
      <td>
        16
      </td>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
      </tr>
      <tr>
      <td>
        17
      </td>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
        <td></td>
      </tr>
      <tr>
      <td>
        18
      </td>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
        <td></td>
      </tr>
      <tr>
      <td>
        19
      </td>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
        <td></td>
      </tr>
      <tr>
      <td>
        20
      </td>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
        <td></td>
      </tr>
    </tbody>
  </table>
</body>
</html>