<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <title>Clase WEB</title>
  <link rel="icon" href="../../assets/img/favicon.png">
</head>

<body>
  <!--HEADER START-->
  <header>
    <a href="../../index.html">Home</a>
    <a href="../ejercicio1/index.html">Ejercicio 1</a>
    <a href="./index.html">Ejercicio 2</a>
  </header>
  <!--HEADER END-->
  In Survival, players have an inventory that consists of four rows of slots used to store items, nine of which are
  found on the hotbar. All blocks require a certain amount of time to break, unlike Creative mode where blocks can be
  instantly destroyed. These items can be used in recipes to create tools and other items. This process is known as
  crafting. The recipes can also be accessed by clicking the recipe book under the 2×2 crafting grid. Most crafting
  recipes require a crafting table. Some items cannot be obtained by crafting normally and require a furnace for
  processing (e.g. glass requires sand for smelting). Various other crafting stations exist for other uses, such as
  brewing, repairing, and enchanting.

  <table border="1">
    <thead>
      <th>
        Java Edition Classic
      </th>
    </thead>
    <tbody>
      <tr>
        <td>
          May 16, 2009
        </td>
        <td>
          Notch discussed Survival among the various game modes he envisioned for the game.
        </td>
      </tr>
      <tr>
        <td>
          June 14, 2009
        </td>
        <td>
          Notch discussed his vision of how Survival mode would work.
        </td>
      </tr>
    </tbody>
  </table>
  <table>
    <tr>
      <th>
        Hora
      </th>
      <th>
        Lunes
      </th>
      <th>
        Martes
      </th>
    </tr>
    <tr>
      <td>
        7:00am
      </td>
      <td colspan="2">
        Desayuno
      </td>
    </tr>
    <tr>
      <td>
        7:00am
      </td>
      <td>
        Reunion
      </td>
      <td>
        Clase
      </td>
    </tr>
  </table>
</body>

</html>