@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Muli:ital,wght@0,400;0,700;1,500&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
}

.title {
  margin: 20px auto;
}

.title h1 {
  color: white;
  /*text-shadow: 3px 3px 7px #e74ed8;*/
  text-shadow: 0 0 10px #ff0000;
  font-family: 'Fredoka One', cursive;
  font-size: 40px;
  margin-left: 30px;
}

.title img {
  width: 150px;
}

.content {
  width: 1000px;
    margin: 30px auto;
  /*padding: 30px 500px;*/
}

.content h2 {
  font-family: 'Fredoka One', cursive;
}

.character {
  width: 800px;
  background: linear-gradient(#F9A9FB, #f9d3fa);
  margin: 20px 0;
  padding: 30px 30px;
  box-shadow: 3px 3px 7px #999999;
  display: flex;
  align-items: center;
}

.character img {
  width: 150px;
  height: 100%;
  border: 7px solid #fff;
  float: left;
  border-radius: 50%;
  margin-right: 20px;
}

.character h2 {
  color: white;
  text-shadow: 2px 2px 4px black;
}

.character p {
  text-align: justify;
}

li {
  list-style: none;
}

li::before {
  background-image: url("../../assets/img/lunalista.png");
  height: 40px;
  width: 40px;
  display: inline-block;
  content: '';
  background-size: contain;
  margin-right: 10px;
}

.btn {
  background-color: blue;
  color: blue;
  width: 160px;
  padding: 20px;
  border-radius: 10px;

}
.btn a {
    color: white;
    text-decoration: none;
}

.btn:hover {
  background-color: red;
  transition: background-color 3s linear;
}

.title img {
  transform: translateX(500px);
  transition-duration: 10s;
  transition-property: transform;
  transition-timing-function: linear;
  transition-delay: .1s;
}

.title h1 {
  transform: translateY(-50px);
  transition: transform 5s linear;
}

.character img:hover {
  transform: rotate(-50deg) scale(1.5);
  transition: transform 5s linear .1s;
}

.cajaprincipal {
  width: 270px;
  height: 350px;
  background-color: black;
  color: #FFFF;
  margin: 20px auto;
  box-shadow: 0 0 20px black;
  overflow: hidden;
}

.encabezado {
  background-color: #FFFF;
  font-family: 'Fredoka One', cursive;
  color: black;
  padding: 20px 0px;
}

.cajaperfil {
  width: 540px;
}

.cajaperfil:hover {
  transform: translateX(-270px);
  transition-duration: 2s;
  transition-property: transform;
  transition-timing-function: linear;
  transition-delay: .1s;
}


.foto,
.header2 {
  width: 270px;
  text-align: center;
  margin: 20px 0;
  float: left;
}

.foto img {
  width: 100px;
  border: 5px solid white;
  border-radius: 50%;
}

.header2 img {
  width: 240px;
}