<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <title>Clase WEB</title>
  <link rel="icon" href="./asstes/img/favicon.png">
</head>

<body>
  <!--HEADER START-->
  <header>
    <a href="../../index.html">Home</a>
    <a href="../ejercicio1/index.html">Ejercicio 1</a>
    <a href="./index.html">Ejercicio 2</a>
  </header>
  <!--HEADER END-->
  <img src="../../assets/img/Minecraft_horizontal_key_art.webp">
  <h1>Gameplay</h1>
  <p>
    Minecraft focuses on allowing the player to explore, interact with and modify a dynamically-generated map made of
    one-cubic-meter-sized blocks. In addition to blocks, the environment features plants, mobs and items. Some
    activities in the game include building, mining for ore, fighting hostile mobs and crafting new blocks and tools by
    gathering various resources found in the game. The game's open-ended model allows players to create structures,
    creations and artwork on various competitive or collaborative multiplayer servers or their single-player maps. Other
    features include redstone circuits for logic computations and remote actions, minecarts and tracks, and a mysterious
    underworld called the Nether. A designated but completely optional goal of the game is to travel to a dimension
    called the End and defeat the ender dragon.
  </p>

  <h2>
    Game modes
  </h2>
  <p>
    Minecraft has four basic game modes: Survival, Creative, Adventure, and Spectator. Java Edition has one additional
    game mode, Hardcore, although it is a per-world flag instead of a true gamemode.
  </p>

  <ul>
    <li>
      <b>Survival:</b>
      <br>
      <span>In this mode, players must gather all their materials to build, craft items and tools and gain
        experience points. There is a health, hunger, and armor bar, an inventory, and also a oxygen bar when
        underwater, suffocating,‌ or in lava.‌
        If a player runs out of hearts (health), the player
        dies and returns to the spawn point.
      </span>
    </li>
    <li>
      <b>Creative:</b>
      <br>
      <span>This mode is for creating structures and experimenting. The player has access to an infinite amount of
        almost all blocks and items available and can destroy them instantly. Players cannot die (except when falling
        into the Void in Java Edition), health is not a concern, and players can fly. The player has access to items not
        available in Survival mode, such as spawn eggs.
      </span>
    </li>
    <li>
      <b>Adventure:</b>
      <br>
      <span>
        Players can interact with objects such as levers and buttons, and can interact with mobs. However, they can
        break blocks only with certain tools, and place only certain blocks, as determined by the designer. This mode is
        good for adventure maps.
      </span>
    </li>
    <li>
      <b>Spectator:</b>
      <br>
      <span>
        When in Spectator mode, players can clip through blocks and fly freely. The player can't interact with blocks,
        entities or their inventory.
      </span>
    </li>
  </ul>
  <footer>
    All information taken from <a href="https://minecraft.fandom.com/wiki/Minecraft_Wiki">Minecraft Wiki</a>
  </footer>
</body>

</html>