<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <title>Clase WEB</title>
  <link rel="icon" href="./asstes/img/favicon.png">
</head>

<body>
  <!--HEADER START-->
  <header>
    <a href="../../index.html">Home</a>
    <a href="../ejercicio1/index.html">Ejercicio 1</a>
    <a href="#">Ejercicio 2</a>
  </header>
  <!--HEADER END-->
  <section>
    <br>
    <br>
    <br>
    <img src="./../../assets/img/Minecraft_logo.svg" />
    <p>
      Minecraft is a <b><i>3D sandbox</i></b> game developed by <b>Mojang Studios</b> where players interact with a
      fully
      modifiable
      three-dimensional environment made of blocks and entities. Its diverse gameplay lets players choose the way they
      play, allowing for countless possibilities.
      There are four actively maintained editions of Minecraft: Java Edition, Bedrock Edition, Minecraft Education and
      China Edition.
    </p>
    <span>
      This site will be a minecraft wiki inspired by another wiki to learn web development.
      Check the other pages below:
    </span>
  </section>
  <ul>
    <li>
      <b><a href="./gameplay.html">Gameplay</a></b>
    </li>
  </ul>
  <footer>
    All information taken from this <i><a href="https://minecraft.fandom.com/wiki/Minecraft_Wiki">Minecraft Wiki</a></i>
  </footer>
</body>

</html>