<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <title>Clase WEB</title>
  <link rel="icon" href="./asstes/img/favicon.png">
</head>

<body>
  <!--HEADER START-->
  <header>
    <a href="../../index.html">Home</a>
    <a href="./views/ejercicio1/index.html">Ejercicio 1</a>
    <a href="#">Ejercicio 2</a>
  </header>
  <!--HEADER END-->
  <h1>Minecraft</h1>
  <p>
    Minecraft is a 3D sandbox game created by Swedish game developer Markus "Notch" Persson. It is maintained by Mojang
    Studios, a part of Xbox Game Studios, which in turn is part of Microsoft.
  </p>

</body>

</html>