<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <title>Quiz</title>
  <link rel="icon" href="../../assets/file-pen-solid.svg">
  <meta author="felipe_martinez" />
  <meta charset="UTF-8" />
  <meta description="Quiz 1 Web con un stop en HTML5" />
  <meta>
</head>

<body>
  <h1>
    Quiz
  </h1>
  <table border=2>
    <thead>
      <th style="border-radius: 3px;">
        L
      </th>
      <th style="border-radius: 3px;">
        Nombre
      </th>
      <th style="border-radius: 3px;">
        Apellido
      </th>
      <th style="border-radius: 3px;">
        Cosa
      </th>
      <th style="border-radius: 3px;">
        Color
      </th>
      <th style="border-radius: 3px;">
        Lugar
      </th>
      <th style="border-radius: 3px;">
        Atributo HTML
      </th>
      <th style="border-radius: 3px;">
        Total
      </th>
    </thead>
    <tbody>
      <tr>
        <td style="text-transform: capitalize;">
          V
        </td>
        <td>
          Valentina
        </td>
        <td>
          Velasquez
        </td>
        <td>
          <img width="100" src="../../assets/img/Vimlogo.svg.png" alt="img here">
        </td>
        <td bgcolor="violet">

        </td>
        <td style="text-transform: lowercase;">
          Venecia
        </td>
        <td style="font-style: italic; text-decoration: underline;">
          video
        </td>
        <td style="font-weight: bolder;">
          1
        </td>
      </tr>
      <tr>
        <td style="text-transform: capitalize;">
          D
        </td>
        <td>
          David
        </td>
        <td>
          Duncan
        </td>
        <td>
          <img width="100" src="../../assets/img/Sicherman_dice.svg.png" alt="img here">
        </td>
        <td bgcolor="#FFDAB9">

        </td>
        <td style="text-transform: lowercase;">
          dallas
        </td>
        <td style="font-style: italic; text-decoration: underline;">
          div
        </td>
        <td style="font-weight: bolder;">
          1
        </td>
      </tr>
      <tr>
        <td style="text-transform: capitalize;">
          U
        </td>
        <td>
          Ulises
        </td>
        <td>
          Underwood
        </td>
        <td>
          <img width="100" src="../../assets/img/Hubble_ultra_deep_field.jpg" alt="img here">
        </td>
        <td bgcolor="#4273B8">

        </td>
        <td style="text-transform: lowercase;">
          Ucrania
        </td>
        <td style="font-style: italic; text-decoration: underline;">
          u
        </td>
        <td style="font-weight: bolder;">
          1
        </td>
      </tr>
      <tr>
        <td style="text-transform: capitalize;">
          X
        </td>
        <td>
          Xavier
        </td>
        <td>
          Xi
        </td>
        <td>
          <img width="100" src="../../assets/img/1200x630bb.png" alt="img here">
        </td>
        <td bgcolor="#F39430">

        </td>
        <td style="text-transform: lowercase;">
          Xiamen
        </td>
        <td style="font-style: italic; text-decoration: underline;">
          x (svg attr)
        </td>
        <td style="font-weight: bolder;">
          1
        </td>
      </tr>
      <tr>
        <td style="text-transform: capitalize;">
          R
        </td>
        <td>
          Rodrigo
        </td>
        <td>
          Ramirez
        </td>
        <td>
          <img width="100" src="../../assets/img/1200px-Feste_Fahrbahn_FFBögl.jpg" alt="img here">
        </td>
        <td bgcolor="#E0115F">

        </td>
        <td style="text-transform: lowercase;">
          Roma
        </td>
        <td style="font-style: italic; text-decoration: underline;">
          reload
        </td>
        <td style="font-weight: bolder;">
          1
        </td>
      </tr>
    </tbody>
  </table>
</body>

</html>